body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #e0e0e0;
    color: #333;
    padding: 1rem;
}

/* ENCABEZADO*/
.imgPortada {
    display: block;
    margin: 0 auto 1rem;
    width: 60%;
    max-width: 700px;
    border-radius: 8px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
}

/* BARRA NAV */
.navegacion {
    width: 100%;
    background-color: #325268;
    padding: 20px;
    margin-bottom: 1.5rem;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

/* MENU */
.dropdownmenu ul,
.dropdownmenu li {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 40px;
}

.dropdownmenu ul {
    list-style: none;
    width: auto;
}

.dropdownmenu li {
    float: left;
    position: relative;
    width: auto;
    margin-left: 4px;
}

.dropdownmenu a {
    color: white;
    text-decoration: none;
    background: #488582;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    display: block;
    transition: 0.3s ease;
    
}

.dropdownmenu li:hover a {
    background: #4aa8a4;
}

/* ANIMACIÓN DE SUBMENÚ */
#submenu {
    left: 0;
    opacity: 0;
    position: absolute;
    top: 100%;
    visibility: hidden;
    z-index: 1;
    width: auto;

    /* animación */
    transform: translateY(10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

li:hover ul#submenu {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

#submenu li {
    width: 100%;
    margin-top: 3px;
}

#submenu li:hover a {
    background-color: #4aa8a4;
}

#submenu a {
    background-color: #488582;
    border: solid grey 1px;
}

/* ANIMACIÓN DE SUBSUBMENÚ */
#subsubmenu {
    opacity: 0;
    position: absolute;
    top: 0px;
    left: 100%;
    visibility: hidden;
    z-index: 1;
    width: 150%;

    /* animación */
    transform: translateX(10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

#submenu li:hover ul#subsubmenu {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
}

#submenu #subsubmenu li {
    width: 100%;
    text-align: center;
}

#submenu #subsubmenu li:hover a {
    background-color: #4aa8a4;
}

#submenu #subsubmenu a {
    background-color: #488582;
}

.imgRetos{
    width: 60%;
    max-width: 700px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

}

/* TABLA DE ODS */
.tabla {
    text-align: center;
    margin-top: 2rem;
}

.tabla img {
    width: 14%;
    margin: 1%;
    border-radius: 5px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease;
}

.tabla img:hover {
    transform: scale(1.05);
}
.contenido{
    width: 90%;
    margin: auto;
}