body{
    font: bold 12px/20px sans-serif;
}
.ods{
    width: 100%;
}

table{
    top: 50%;
    position: relative;
    width: 100%;
    text-align: center;
}

td{
    width: 15%;
    padding: 1.5%;
}
.imgPortada{
    top: 0;
    width: 50%;
}
.imgInicio{
    width: 60%;
}

.contenedorInicio{
    width: 100%;
    text-align: center;
}

/* MENU*/
.dropdownmenu ul, .dropdownmenu li{
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 40px;
    background-color:teal ;
}
.dropdownmenu ul{
 
    list-style: none;
    width: auto;
    
}
.dropdownmenu li{
    float: left;
    position: relative;
    width: auto;
}

.dropdownmenu a{
    background-color: teal;
    color: white;
    display: block;
    font: bold 12px/20px sans-serif;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    width: auto;
}
.dropdownmenu li:hover a{
    background: black;
    
}
#submenu{
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0%;
    visibility: hidden;
    z-index: 1;
    width: auto;
}
li:hover ul#submenu{
    opacity: 1;
    top: 100%;
    visibility: visible;
}
#submenu li{
    width: 100%;
}
#submenu li:hover a{
    background-color: grey;
}
#submenu a{
    background-color: black;
    border: solid grey 1px;
}
#subsubmenu{
    opacity: 0;
    position: absolute;
    top: 0px;
    left: 100%;
    visibility: hidden;
    z-index: 1;
    width: 150%;
}
#submenu li:hover ul#subsubmenu{
    opacity: 1;
    top: 0px;
    visibility: visible;
}
#submenu #subsubmenu li{
    width: 100%;
}
#submenu  #subsubmenu li:hover a{
    background-color: grey;
}
#submenu #subsubmenu a{
    background-color: black;
}

.navegacion{
    position: relative;
    width: 100%;
    background-color: teal;
    top: 20%;
}
.tabla{
    text-align: center;
    float:none;
}

.tabla img{
    margin: 1%;
    width: 14%;
}

/*Principales retos*/
.contenido {
    margin: 20px;
}
h1, h2 {
    color: teal;
}
.seccion {
    margin-bottom: 30px;
}

iframe {
    width: 50%;
    height: 400px;
    border: none;
}

.mapa-conceptual {
    width: 23%;
    margin: 0 auto;
    padding: 20px;
}
.concepto {
    background-color: #79efff88;
    border: 2px solid teal;
    border-radius: 10px;
    padding: 20px;
    margin: 15px;
    
    text-align: center;
    box-shadow: 2px 2px 10px rgb(0, 0, 0);
}

.concepto h3 {
    color: teal;
    font-size: 20px;
}
.imgRetos{
    width: 20%;
    border-radius: 8px;
}